:root{
    --gray_card: #36393F;
    --input_black: #303339;
    --link: #4087F3;
}
.add_itm_subpage{
    width: 70vw;
    background-color: var(--gray_card);
    margin: 0 auto;
    min-height: 100vh;
    max-height: auto;
    
}
#add_itm_header_txt{
    font-size: 22px;
    text-align: right;
}
.add_itm_subpage_header{
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    background-color: inherit;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    justify-items: end;
    padding: 30px;
}
#add_itm_close_btn:hover{
    background-color: red;
    cursor: pointer;
}
.add_itm_subpage_main{
    margin-top: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 10px;
}
.add_item_card{
    margin: auto;
    width: 65%;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.301);
    color: white;
    padding: 1% 3%;
    height: 380px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 18px;
}
.add_item_card_top{
    display: flex;
    justify-content: space-between;
    
}
.add_item_card_txt input{
    background-color: var(--input_black);
    width: 95%;
    border: 0;
    height: 30px;
    color: white;
}
.Pricediv{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}
.Pricediv input{
    width: 20%;
    height: 20px;
    background-color: var(--input_black);
    color: white;
    border: 0;
}
.remove_itm_Btn:hover{
    cursor: pointer;
    animation: bounce 2s ease-in-out infinite;
}
@keyframes bounce {
    0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.5);
      }
      100% {
        transform: scale(1);
      }
}
.Connected_device{
    align-items: center;
    justify-content: space-between;
}
.Connected_device p{
    font-size: 20px;
}
.Connected_device p span{
    color: var(--link);
    cursor: pointer;
}
.UpdateStockContainer{
    margin: 5% 0 0 0 ;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
}
#updateStockBtn{
    background-color: var(--link);
    color: white;
    width: 220px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    cursor: pointer;
}