:root{
    --primary-color: #4087F3;
    --darkBlack : #191919;
    --transparent-color : #00000022;
    --white : #FFFFFF;
    --red : #ff3333;
    --gray1: #EAEAEA;
    --card-color : #393E3A;

}
body{
    background-color: var(--darkBlack);
    color: var(--white);
    margin: 0;
    user-select: none;
}
.debug{
    border: 1px solid red;
}
#parent_dashboard_page{
    flex-direction: row;
    display: flex;
    height: 100vh;
}
#navigation_sidebar{
    width: 220px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#navigation_sidebar .selected{
    background-color: var(--transparent-color);
}
#navigation_sidebar .selected span{
    color: var(--primary-color);
}
#navigation_sidebar .selected img{
    filter: grayscale(0%) brightness(100%);
}
#dashboard_right_section{
    width: calc(100% - 220px);
    background-color: var(--white);
}
#top_title_bar{
    height: 28px;
}
#navpages_area{
    height: calc(100% - 28px);
}
.nav_items{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    cursor: pointer;
}
.nav_items span{
    font-size: 16px;
    color: #fff;
    margin-left: 30px;
}

.nav_items img{
    filter: grayscale(100%) brightness(200%);
}
.nav_items:hover img{
    filter: grayscale(0%) brightness(100%);
}
.nav_items:hover span{
    color: var(--primary-color);
}

#navigation_menu_main{
    display: flex;
    flex-direction: column;
}

#expand_menu_btn{
    margin-bottom: 20px;
}
#shop_name_badge{
    display: flex;
    flex-direction: row;
    padding: 10px;
}
#shop_badge_texts{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#name_shop_badge{
    font-size: 16px;
}
#email_shop_badge{
    font-size: 10px;
}
#photo_shop_badge{
    width : 50px;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    margin-right: 10px;
}
.main_pages{
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--darkBlack);
}
#settings_page{
    flex-direction: row;
    
}
#setting_side_bar_menu{
    display: flex;
    width: 200px;
    height: 100%;
    flex-direction: column;
}
#settings_sub_pages{
    display: flex;
    width: calc(100% - 200px);
    height: 100%;
    flex-direction: row;
}
#navigation_for_settings{
    display: flex;
    flex-direction: column;
}
#settings_title_txt{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 40px;
    color: var(--darkBlack);
    align-self: center;
}
#navigation_for_settings span{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
}
#navigation_for_settings .selected{
    background-color: var(--primary-color);
    color: var(--white);
}
#navigation_for_settings .selected:hover{
    color: var(--white);
}
#navigation_for_settings span:hover{
    color: var(--primary-color);
}
.setting_subpage{
    display: flex;
    margin: 5%;
    width: 90%;
    height: 90%;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0px 0px 12px rgb(0, 0, 0 , 0.2);
}

/* ---------------------------- stock css------------------------------ */
#stocks_page{
    padding: 10px;
}
.left_btn_section{
    display: flex;
    justify-content:space;
    align-items: left;
}
#mobile_client_txt{
    color: var(--primary-color);
    cursor: pointer;
    text-align: right;
}
.right_btn_section{
    display: flex;
    justify-content: space-evenly;
    align-items: right;
}
#stocks_tbl tr:nth-child(even){
    background-color: var(--gray1);
}
.top_section{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#Bin_stock_btn{
    height: 45px;
    width: 54px;
    border-radius: 5px;
    border: 1px solid var(--red);
    cursor: pointer;
}
.top_btn{
    height: 45px;
    width: 54px;
    border: 1px solid var(--darkBlack);
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
    background-color: var(--white);
}
#AddItm_btn{
    height: 45px;
    width: 138px;
    border: 1px solid var(--darkBlack);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#stocks_tbl{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    height: 60%;
    padding: 10px 0;
}
table{
    border-collapse: collapse;
}
#stocks_tbl table thead{
    background-color : var(--darkBlack);
    color: var(--white);
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 10px;
    height: 30px;
}
#stocks_tbl tr{
    text-align: center;
    height: 30px;
}
/* invoice history page */
.top_section_invoice{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}
.time_interval_search_invoice{
    display: flex;
    justify-content: center;
    height: 20px;
    justify-content: space-between;
    align-items: baseline;
    width: 20vw;
    font-size: 14px;
    color: var(--primary-color);
    position: absolute;
    left: 70%;
}
#time_stamp_txt, #time_stamp_left_btn, #time_stamp_right_btn{
    cursor: pointer;
}
.search_subSection{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21.5vw;
    height: 15vh;
}
#Search_text_invoice{
    padding: 5px;
    font-size: 18px;
    width: 21.5vw;
    height: 28.5px;
}
#Search_btn{
    height: 42.5px;
    width: 3vw;
    cursor: pointer;
    border: 0;
    border-radius: 5px;
    position: relative;
    left: -2%;
    /* top: 2px; */
    background-color: black;
}
.table_Section_invoice{
    width: 95%;
    padding: auto;
    margin: auto;
    height: 70vh;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.table_Section_invoice table{
    border-collapse: collapse;
}
.table_Section_invoice tr{
    height: 30px;
    cursor: pointer;
}
.table_Section_invoice thead{
    background-color: black;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
}
.table_Section_invoice tr:nth-child(even){
    background-color: var(--gray1);
}
#left_home_section{
    display: flex;
    flex-direction: column;
    width: calc(100% - 320px);
    height: 100%;
}
#right_home_section{
    display: flex;
    flex-direction: column;
    width: 320px;
    height: 100%;
}
#home_store_info_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 30px;
    margin-bottom: 20px;
    background-color: var(--primary-color);
    color: var(--white);
    border-radius: 8px;
    padding: 10px;
}
#shopezy_store_info_sub_section{
    display: flex;
    flex-direction: column;
    width: 70%;
    padding: 20px;
}
#welcome_txt_home{
    font-size: 30px;
    font-weight: 700;
    color: var(--darkBlack);
    text-align: right;
}
#user_profile_home{
    border: 1px solid var(--gray1);
    border-radius: 50%;
    margin-right: 20px;
    padding-bottom: -100px;
}

#store_info_txt{
    display: flex;
    flex-direction: column;
    text-align: right;
    margin-top: 20px;
}
#email_store_txt_home{
    margin-top: -10px;
}
#store_name_home{
    display: flex;
    justify-content: flex-end;
    padding-left: 20%;
}
#address_store_txt_home{
    margin-top: 5px;
    padding-left: 50%;
}
#store_name_txt_home{
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--darkBlack);
    margin-right: 10px;
}
#bottom_icons_store{
    display: flex;
    align-items: center;
    margin-top: 20px;
    width: fit-content;
    align-self: flex-end;
}
#verified_icon_home{
    display: flex;
    align-self: start;
}
.bottom_icons_store_home{
    margin-right: 30px;
    cursor: pointer;
    opacity: 0.8;
}
.bottom_icons_store_home:hover{
    opacity: 1;
}
#trolley_illustration_img{
    display: flex;
    padding-left: 5%;
}
#home_navigation_info_section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 8px;
    padding: 10px;
}
.nav_home_btn{
    display: flex;
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: var(--darkBlack);
    color: var(--white);
    border-radius: 8px;
    cursor: pointer;
}
#search_icon_img_home{
    margin-left: 5px;
}
.nav_home_btn:hover{
    background-color: var(--primary-color);
}
#home_sidebar_summary_section{
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}
.half_summar_section{
    width: 50%;
    padding: 20px;
}
.summary_table_title{
    display: block;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin-bottom: 10px;
}
.table_summary_home{
    border-collapse: collapse;
    width: 100%;
    text-align: center;
}
.table_summary_home tr{
    padding: auto;
    height: 28px;
    color: var(--darkBlack);
}
.table_summary_home thead{
    font-size: 14px;
    background-color: var(--darkBlack);
}
.table_summary_home th{
    color: var(--white);
}
.table_summary_home tr:nth-child(even){
    background-color: var(--gray1);
}
#parent_summary_container{
    display: flex;
}
#client_connect_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--gray1);
    padding: 20px;
    margin: 10px;
    border-radius: 8px;
    height: 200px;
}
#connect_android_btn_home{
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 4px;
    color: var(--white);
    background-color: var(--primary-color);
}
#no_android_client_txt{
    color: var(--red);
}
#sell_summary_graph_section{
    background-color: var(--gray1);
    padding: 15px;
    margin: 10px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    height: calc(100% - 210px);
}
#term_period_selection{
    width: 100%;
    padding: 10px;
    border: none;
    text-align: center;
    font-size: 16px;
    background-color: var(--gray1);
}
.large_text_suummary{
    font-size: 20px;
    font-weight: 700;
    display: block;
}
.larger_text_suummary{
    margin-top: 10px;
    display: flex;
    font-size: 30px;
    font-weight: 700;
    display: block;
}
.half_graph_area_home{
    width: 50%;
}
.half_graph_area_home div{
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50%;
}
#home_page_graph{
    margin-top: 40px;
    margin-left: -15px;
    margin-right: -15px;
}
#growth_circle_indicator{
    display: flex;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    flex-direction: row;
    align-items: center;
    box-shadow: inset 8px -4px 4px rgba(0, 0, 0, 0.25);
}
#growth_indicator_txt{
    font-size: 30px;
    font-weight: 700;
    margin: 25%;
}
#growth_arrow{
    margin-left: -40px;
    margin-top: -60px;
}

#model_box_container{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: #00000099;
    backdrop-filter: blur(4px);
    display: flex;
}
#connect_to_android_page{
    width: 780px;
    height: 490px;
    margin-top: calc(50vh - 275px);
    margin-left: calc(50vw - 450px);
    border-radius: 8px;
    background-color: var(--card-color);
    flex-direction: row;
    padding: 60px;
}
#part1_connect_to_android , #part2_connect_to_android{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-content: center;
    font-size: large;
}
.large_text_connect_client{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 20px;
}
#close_connect_client_btn{
    position: fixed;
    top: calc(50vh - 275px);
    left: calc(50vw + 400px);
    cursor: pointer;
    padding: 20px;
    border-radius: 8px;
}
#close_connect_client_btn:hover{
    background-color: var(--red);
}