:root{
    --primary-color: #00a8ff;
    --black : #333;
    --white : #FFF;
    --red : #ff3333;
}
body{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    margin: 0%;
}
.debug{
    border: 2px double #ff00ea99;
}
#top_menu_bar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 10px;
    color: var(--white);
    font-size: 20px;
    height: 50px;
}
#edit_icon{
    margin-right: 20px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid #000;
    margin: 0px 10px;
    background-color: var(--white);
}
#edit_icon:hover{
    cursor: pointer;
    filter: invert(100%);
}
#delete_icon{
    margin-right: 20px;
    padding: 8px;
    border-radius: 8px;
    border: 1px solid var(--red);
    margin: 0px 10px;
    background-color: #fff;
}
#delete_icon:hover{
    cursor: pointer;
    background-color: var(--black);
    border: 1px solid var(--black);
}
#settings_icon{
    margin-right: 20px;
    padding: 4px;
    border-radius: 8px;
    border: 1px solid var(--black);
    margin: 0px 10px;
    background-color: var(--white);
}
#settings_icon:hover{
    cursor: pointer;
    filter: invert(100%);
}
#print_btn{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 4px;
    border:none;
    box-shadow: none;
    display: flex;
    align-items: center;
    color: var(--white);    
    text-transform: uppercase;
    margin: 0px 10px;
}
#print_btn:hover{
    cursor: pointer;
    background-color: var(--black);
}
#print_icon{
    margin-right: 15px;
}
#share_btn{
    background-color: var(--primary-color);
    padding: 10px;
    border-radius: 4px;
    border:none;
    box-shadow: none;
    display: flex;
    align-items: center;
    color: var(--white);
    text-transform: uppercase;
    margin: 0px 10px;
}
#share_btn:hover{
    cursor: pointer;
    background-color: var(--black);
}
#share_icon{
    margin-right: 15px;
}
#Invoice_container{
    background-color: #d0ecff;
    display: flex;
    width: 99.7%;
    justify-content: center;
    
}
#invoice_page{
    width: 210mm;
    height: auto;
    background-color: var(--white);
    display: block;
}
#heading_invoice{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    margin-top: 3mm;
}
#shop_profile_pic{
    width: 50px;
    height: 50px;
    border-radius: 100%;
    border: 1px solid var(--black);
}
#shop_info1{
    display: flex;
    width: 80mm;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: flex-end;
}
#shop_address{
   font-size: 3mm;
}
#shop_name{
    font-size: 4mm;
}
#shop_address_container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#shop_Mail{
    font-size: 3mm;
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
    display: flex;
    align-items: center;
    width: 50mm;
    justify-content: space-around;
}
#email_shop{
    padding: 10px;
}
#shop_phone{
    width: 40mm;
    font-size: 3mm;
    background-color: var(--black);
    color: var(--white);
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#phone_shop{
    padding: 10px;
}
.side_lines{
    width: 8mm;
    display: none;
}
.side_lines hr{
    width: 8mm;
    height: 2mm;
    background-color: #2F2F2F;
    color: 2F2F2F;
}
#side_lines1{
    margin-left: -0.5mm;
}
#side_lines2{
    margin-right: -0.5mm;
}
.grey_hr{
    background-color: #4F4F4F !important;
    color: #4F4F4F !important;
}
#customer_info_head{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 3mm;
    text-transform: uppercase;
    padding: 0px 15px;
}
#customer_info_head_2{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0px 15px;
}
#customer_info_3{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0px 15px;
}
#customer_phone_email{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 3mm;
    font-size: 3mm;
}
#Invoice_To_txt{
    font-size: 5mm;
    font-weight: bold;
}
#Invoice_txt{
    font-size: 8mm;
    font-weight: bold;
}
#customer_name{
    font-size: 5mm;
    font-weight: bold;
}
#invoice_number{
    font-size: 3mm;
    font-weight: bold;
}
#invoice_date{
    font-size: 4mm;
    font-weight: bold;
}
#payment_director_info{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 8mm;
    padding: 0px 15px;
}
#payment_method{
    display: flex;
    flex-direction: column;
}
#extra_payment_txt{
    max-width: 70mm;
    font-size: 3mm;
}
#accountant_director{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 3mm;
    padding: 0px 15px;
}
#accountant_name{
    font-size: 4mm;
    font-weight: bold;
}
#accountant_position{
    font-size: 4mm;
}
#shops_tc{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 10mm;
    padding: 0px 15px;
    font-size: 3mm;
}
#thanking_customer{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    margin-top: 8mm;
    padding: 1.5mm 0mm;
    font-size: 3mm;
    background-color: var(--black);
    color: var(--white);
}
#accountant_signature{
    height: 6mm;
    margin-bottom: 2mm;
}
#payment_method_txt{
    font-size: 4mm;
    font-weight: bold;
}
#payment_method_info{
    font-size: 4mm;
    margin-bottom: 2mm;
}
#items_tables{
    width: 100%;
    padding: 5mm;
    border: 1px solid var(--black);
}
#heading_row{
    color: var(--black);
    text-align: left;
}
/* add background to even rows*/
#table_body tr:nth-child(even) {
    background-color: #EAEAEA;
}
#purchase_item{
    margin-top: 10px;
}

@media print{
    @page {
        margin: 0;
    }
    body{
        margin: 0;
        padding: 0;
    }
    #top_menu_bar{
        display: none;
    }
    #Invoice_container{
        width: 100% !important;
    }
    #side_lines{
        width: 6mm !important;
        margin-left: 0mm;
    }
    #side_lines hr{
        width: 6mm !important;
    }
    #heading_invoice{
        margin-top: 8mm !important;
    }
}