:root{
    --primary-color: #4087F3;
    --darkBlack : #191919;
    --transparent-color : #00000044;
    --white : #FFFFFF;
    --red : #ff3333;
    --gray1: #EDEDEE;
    --darkGray : #36393F;
}
@font-face {
    font-family:audiowide ;
    src: url(../media/font/Audiowide.ttf);
}
body{
    background-color: var(--darkGray);
    display: flex;
    flex-direction: column;
    user-select: none;
}
#top_title_bar{
    padding: 20px;
    display: flex;
    align-items: center;
}
#logo_img{
    width: 40px;
    display: flex;
    margin-right: 20px;    
}
#close_passcode_btn{
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 10px;
}
#close_passcode_btn:hover{
    
    background-color: var(--red);
}
#app_name{
    font-size: 20px;
    display: flex;
    font-family: audiowide;
    color: var(--transparent-color);
    font-weight: bolder;
}
#center_area{
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
#passcode_label{
    display: flex;
    font-size: 24px;
    font-family: Audiowide;
    color: var(--gray1);
}
#userphoto_img{
    width: 100px;
    height: auto;
    border-radius: 50%;
    border: 1px solid var(--primary-color);
    margin-top: 50px;
}
#passcode_area{
    display: flex;
    margin-top: 20px;
}
#forward_btn{
    background-color: var(--primary-color);
    padding: 15px;
    border-radius: 8px;
    margin-left: 10px;
    cursor: pointer;
}
#passcode_input{
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: var(--transparent-color);
    box-shadow: none;
    border: none;
    color: var(--white);
}

#passcode_forget_area{
    display: flex;
    margin-top: 15px;
    margin-left: -80px;
    font-size: 14px;
    color: var(--gray1);
}
#reset_now_btn{
    margin-left: 5px;
    color: var(--primary-color);
    cursor: pointer;
}